[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.pacificclimate.org/simple"
verify_ssl = true
name = "pcic"

[packages]
SQLAlchemy = "*"
alembic = "*"
psycopg2 = "*"
numpy = "*"
netCDF4 = "==1.5.*"
nchelpers = "==5.5.7"
python-dateutil = "*"
sqlparse = "*"
pycrs = "*"

[dev-packages]
pytest = "*"
"testing.postgresql" = "*"
alembic = "*"
alembic-verify = "*"

#[requires]
#python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
